.header {
    font-family: "Roboto Slab", serif;
  }

  .header__logo {
    display: flex;
    margin: 20px 50px;
    justify-content: space-between;
  }

  .header__main h1 {
    margin-left: 50px;
  }

  .header__main__text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 15px;
  }

  .header__main__text__card p {
    font-weight: 20;
  }

  .header__main__text__card-with_border {
    padding: 15px 30px;
    border: 1px solid #BB2247;
  }

  .header__main__text__card-with_margin {
    margin-left: 20px;
  }

  .header__main__text__card-with_width {
    width: 80%;
  }

  .header__main__text__card-with_background {
    display: grid;
    padding: 20px;
    gap: 10px;
    color: white;
    background-color: #EC615B;
  }

  .header__main__text__card__input {
    width: 90%;
    height: 40px;
    border: 1px solid white;
  }

  .header__logo__btn-purple {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #5222d0;
    border-color: #5222d0;
    border-radius: 100px;
  }

  .header__main__text__btn-purple {
    display: flex;
    width: 90px;
    padding: 20px 30px;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #5222d0;
    border-color: #5222d0;
    border-radius: 100px;
  }

  .header__logo__imgbasket {
    padding-left: 10px;
  }

  .header__nav {
    margin-left: 60px;
  }

  .header__nav__link:link {
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  .header__nav__link:visited {
    margin: 5px;
    text-decoration: none;
    color: black;
  }

  .header__nav__link:hover {
    margin: 5px;
    text-decoration: none;
    color: rgb(65, 65, 65);
  }